@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Oxygen:wght@300;400;700&display=swap');

@font-face {
    font-family: "TitleFont";
    src: url("/SF Theramin Gothic Bold Oblique.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SloganFont";
    src: url("airbolt-airbolt-regular-400.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


.Title {
    color: rgb(138, 190, 138);
    text-align: center;
    margin: auto;
    font-size: 70px;
    font-family: "TitleFont";
}

.TitleBar {
    color: rgb(138, 190, 138);
    font-size: 50px;
    font-family: "TitleFont";
    justify-content: center;
    display: flex;
}

.secondHeader {
    color: black;
    text-align: center;
    margin: auto;
    font-size: 20px;
    font-family: "SloganFont";
}

.blurb {
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 23px;
    padding-top: 12px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 30px;
}

.bottom_blurb {
    text-align: center;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    position: fixed;
    bottom: 0;
    left: 50%; 
    transform: translateX(-50%);
}

.StandardButtons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.MenuBar {   
    padding-right: 10px;
    padding-top: 15px;
    font-size: 18px;
    display: flex;
    justify-content: right;
}

.MenuButton {
    color: black;
    background-color: rgba(137, 196, 245, 0.614);
    padding: 5px;
    margin-left: 1rem;
    cursor: pointer;
    width: 130px;
    padding: 10px 20px;
    border: none;
    box-shadow: 0px 4px 6px -1px rgba(0, 0, 0, 0.2);
    font-family: "Oxygen", sans-serif;
}

.MenuButton:hover {
    background-color: #f0f0f0;
}

.MenuDropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    cursor: pointer;
    top: 100%;
    right: 0;
    padding: 0;
    margin: 0;
    z-index: 1000;
}

.MenuDropdown a > button {
  background-color: rgba(137, 196, 245, 0.614);
  color: black;
  text-align: center;
  cursor: pointer;
  width: 130px;
  padding: 10px 20px;
  white-space: nowrap;
  border: none;
  gap: 10px;
}

.MenuDropdown a > button:hover {
  background-color: #f0f0f0;
}

.MenuWrapper {
   position: relative;
}


.dropdown {
    position: relative;
    display: inline-block;
    padding: 10px;
    margin: auto;
    align-items: center;
}


.navigationButtons {
    border-radius: 14px;
    border: none;
    background-color: #355834;
    padding: 10px 20px;
    cursor: pointer;
    color: rgb(180, 226, 180) ;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.navigationButtons:hover {
    background-color:rgb(180, 226, 180) ;
    color: #355834;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;

}

.logo {
    width: 200px;
    height: auto;
}


.bold {
    font-weight: bold;
}

h2 {
    font-family: "Oxygen", sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.error {
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: red;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* as a last resort */
}

.dropdownRow {
    display: flex;
  justify-content: center; /* centers the group horizontally */
  gap: 20px;               /* spacing between dropdowns */
  flex-wrap: nowrap; 
  margin-bottom: 250px;
}

.raceDropdown {
    transition: all 0.3s ease;
    margin-left: 20px;
}


.bottomMargin {
    margin-bottom: 60px !important;
}


